body {
    background-image: url("images/white.jpg");
    background-size: contain;
}

h1 {
    color: #4aaaa5;
}

img {
    width: 300px;
    float: left;
    margin: 10px;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.content {
    background-color: white;
    border: 1px solid gray;
}

.content-info {
    padding: 2%;
    border-top: 2px solid gray;
}

.content-title {
    padding: 2%;
}

.footer-margin {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.name-logo {
    color: white;
    background-color: #4aaaa5;
    padding: 20px;
}